@page
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div style="margin:auto;width:100%;" class="col-6">
            <span>User:</span>
            <input type="text" id="userInput" />
            <br />
            <span>ConnectUser：</span>
            <input type="text" id="connectUser" />
            <br />
            <span>Group：</span>
            <input type="text" id="group" />
            <br />
            <span>Message：</span>
            <input type="text" id="messageInput" />
        </div>
        <div style="margin-left:300px;width:100%;">
            <input type="button" id="loginInButton" value="LoginIn" />
            <input type="button" id="loginOutButton" value="LoginOut" />
            <input type="button" id="sendButton" value="Send Message To Group " />
            <input type="button" id="sendSingleButton" value="Send Message To User " />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>